body {
    font-family: 'Roboto', serif;
    
  }
h1{
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 80px;
    color: #363958;
}
.brand-name-hilight{
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 80px;
    color:#FABE4C;
}
.btn{
    background: linear-gradient(180deg, #A4BC46 0%, #339900 100%);
    ;
}
.fas{
    color: white;
}
.item-name{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #363958;
}
.price{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;

color: #FABE4C;
}
.border{
    border: none;
}
.card-img-top{
    
    
    background-color: #F1F1F1;
    border-radius: 20px;
}
.history{
    width: 500px;
    height: 100px;
    margin-top: 3%;
    margin-right: 100%;
    }
